<html>
  <head>
    <title>Anagrams</title>
  </head>
  <body>
    <form action='/anagram_results'>

      <label for='input_word'></label>
      <input type='text' id= 'input_word' name='input_word' >

      <button type='submit'>Submit</button>

    </form>

  </body>
</html>
